// 公司ui规范变量
$--color-primary: #5D81F9 !default;
/// color|1|Functional Color|1
$--color-success: #02C5E2 !default;
/// color|1|Functional Color|1
$--color-warning: #F5A623 !default;
/// color|1|Functional Color|1
$--color-danger: #E24156 !default;
/// color|1|Functional Color|1
$--color-info: #818389 !default;
// $--color-success-light: mix($--color-white, $--color-success, 80%) !default;
// $--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
// $--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
// $--color-info-light: mix($--color-white, $--color-info, 80%) !default;

// $--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
// $--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
// $--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
// $--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
/// color|1|Font Color|2
$--color-text-primary: #2D303B !default;
/// color|1|Font Color|2
$--color-text-regular: #575962 !default;
/// color|1|Font Color|2
$--color-text-secondary: #818389 !default;
/// color|1|Font Color|2
$--color-text-placeholder: #9CA6C7 !default;
/// color|1|Border Color|3
$--border-color-base: #E4E8F3 !default;
/// color|1|Border Color|3
$--border-color-light: #E1E5F0 !default;
/// color|1|Border Color|3
$--border-color-lighter: #CAD1E8 !default;
/// color|1|Border Color|3
$--border-color-extra-light: #F2F6FC !default;

$--font-size-extra-large: 20px !default;
/// fontSize|1|Font Size|0
$--font-size-large: 18px !default;
/// fontSize|1|Font Size|0
$--font-size-medium: 16px !default;
/// fontSize|1|Font Size|0
$--font-size-base: 14px !default;
/// fontSize|1|Font Size|0
$--font-size-small: 13px !default;
/// fontSize|1|Font Size|0
$--font-size-extra-small: 12px !default;